// BACKGROUND IMAGES //

.has-background-image {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 45vw;
}

.mafia {
  @include background-image (
    linear-gradient(transparentize($action-color, .8), transparentize(darken($action-color, 50%), .4)), 
    url(image_path('mafia.jpg'))
  );
}

.speaking {
  @include background-image (
    linear-gradient(transparentize($blue, .6), transparentize(darken($blue, 50%), .4)), 
    url(image_path('speaking_paal.jpg'))
  );
}

.freedom {
  @include background-image (
    linear-gradient(transparentize($action-color, .6), transparentize(darken($action-color, 50%), .3)), 
    url(image_path('freedom.jpg'))
  );
}

// COMMON STYLES //

.has-background-image {
  
  .two-thirds-layout,
  .spans-twelve-columns {
    margin-top: modular-scale(9);
  }
}

.has-background-image *:not(a) {
  color: $white;
  text-shadow: 1px 1px 5px transparentize($dark-gray, .7);
}

// MISC STYLES FOR SPECIFIC SECTIONS //

.mafia h3 {
  margin-top: $large-spacing;
}