.quote {
  padding-bottom: $base-spacing;
}

.customer {
  border-top: $base-border;
  padding-top: $small-spacing;
  font-size: modular-scale(-1);
  line-height: 1.6;
}

.customer-portrait {
  height: em(200, 18);
  width: em(200, 18);
  border-radius: 100%;
  overflow: hidden;

  @include media($mobile) {
    height: em(200, 15);
    width: em(200, 15);
  }

  & img {
    object-fit: cover;
    min-height: em(200,18);

    @include media($mobile) {
      min-height: em(200,15); 
    }
  }
}

.overlay {
  @include background-image (
    linear-gradient(transparentize($action-color, .9), transparentize($action-color, .9))
  );
  @include position(absolute, 0px 0px 0px 0px);

}

.customer-name {
  text-transform: uppercase;
  color: $medium-gray;
}

.customer-jobtitle {
  color: $medium-gray;
}

.quote,
.customer {
  margin-right: $base-spacing;
  @include media($mobile) {
    margin: $base-spacing;
  }
}

.two-columns:first-child .quote,
.two-columns:first-child .customer, {
  margin-right: $extra-large-spacing;
}


.position-relative {
  position: relative;
}