// toggles background color on customer quotes section in partials
.white {
  background-color: $white;
  width: 100vw;
}
.gray {
  background-color: $light-gray;
  width: 100vw;
}

.quote {
  padding-bottom: $base-spacing;
}

.customer {
  border-top: $base-border;
  padding-top: $small-spacing;
  font-size: modular-scale(-1);
  line-height: 1.6;
}

.customer-name {
  text-transform: uppercase;
  color: $medium-gray;
}

.customer-jobtitle {
  color: $action-color;
}