.quote {
  padding-bottom: $base-spacing;
}

.customer {
  border-top: $base-border;
  padding-top: $small-spacing;
  font-size: modular-scale(-1);
  line-height: 1.6;
}

.customer-portrait {
  height: em(200, 18);
  width: em(200, 18);

  @include media($mobile) {
    height: em(200, 15);
    width: em(200, 15);
  }

  & img{
  border-radius: 100%;
  }
}

.customer-name {
  text-transform: uppercase;
  color: $medium-gray;
}

.customer-jobtitle {
  color: $action-color;
}

.quote,
.customer {
  margin-right: $base-spacing;
  @include media($mobile) {
    margin: $base-spacing;
  }
}

.two-columns:first-child .quote,
.two-columns:first-child .customer, {
  margin-right: $extra-large-spacing;
}