footer {
  background-color: $primary-color;
  color: $primary-color-text;
  font-family: $tiny-font-family;
}

.logo,
.address,
.social-media,
.blog {
  @extend .four-columns;
  
  @include media($mobile) {
    @include span-columns(2);
    @include omega();
    margin-top: $base-spacing;
  }

  li {
    @include desktop-font-scale(-1);
    @include media($mobile) {
      @include mobile-font-scale(-1);
    }
  }
}

.address,
.blog {
  a {
    color: $primary-color-text;
    border-bottom: 1px solid $primary-color-text;
    transition: all 0.3s ease-in-out;

    &:active,
    &:focus,
    &:hover {
      color: $blue;
      border-bottom: 1px solid $white;
      transition: all 0.3s ease-in-out;
      background-color: $white;
    }
  }
}

.logo {
  margin-top: -.3em;
  @include media($mobile) {
    @include span-columns(2);
    @include omega();
    margin-top: -($small-spacing);
  }
  img {
    height: em(30,18);
  }
}


.blog {

}

.blog-post-date {
  @include desktop-font-scale(-1);
  @include media($mobile) {
      @include mobile-font-scale(-1);
  };
  color: transparentize($primary-color-text, 0.25);
}


/* SoMe links + icons */

.twitter,
.linkedin,
.facebook,
.instagram {
  color: $primary-color-text;
  border-bottom: none;
  transition: all 0.3s ease-in-out;

  &:active,
  &:focus,
  &:hover {
    color: $blue;
    border-bottom: none;
    transition: color 0.3s ease-in-out;
    background-color: $white;
  }
}
.some-icons {
  font-family: 'FontAwesome';
  color: $primary-color-text;
  transition: color 0.3s ease-in-out;
  @include desktop-font-scale(-1);
  @include media($mobile) {
      @include mobile-font-scale(0);
    }
  margin-right: modular-scale(-1);

  &:hover,
  &:active,
  &:focus {
    color: $blue;
    transition: color 0.3s ease-in-out;
  }
}

.twitter::before {
  @extend .some-icons;
  content: '\f099';
}

.linkedin::before {
  @extend .some-icons;
  content: '\f08c';
}

.facebook::before {
  @extend .some-icons;
  content: '\f082';
}

.instagram::before {
  @extend .some-icons;
  content: '\f16d';
}

.blog-list li {
  margin-bottom: modular-scale(-2);
}
