.logo,
.address,
.social-media,
.blog {
  @extend .four-columns;
  @extend .contact-information-tiny;
  color: lighten($medium-gray, 20%);
  @include media($mobile) {
    @include span-columns(1);
    @include omega(3n);

    &:nth-child(3) {
      margin-bottom: $large-spacing;
      padding: 0 $small-spacing 0 0;
    }
    &:nth-child(1) {
      padding: 0 0 0 $small-spacing;
    }
  }
}

.blog {
  @include media($mobile) {
    @include span-columns(2);
    @include shift(1);

  }
}

footer .title-small {
  color: $white;
  font-weight: 400;
}

.logo p {
  color: $white;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: modular-scale(2);
  letter-spacing: .7px;
  @include media($mobile) {
    margin-top: -($small-spacing);
  }
}

/* SoMe links + icons */

.twitter,
.linkedin,
.facebook,
.instagram {
  color: lighten($medium-gray, 20%);
  border-bottom: 1px solid transparent;

  &:active,
  &:focus,
  &:hover {
    color: $action-color;
    border-bottom: 1px solid transparent;
  }
}
.some-icons {
  font-family: 'FontAwesome';
  font-size: modular-scale(-1);
  margin-right: modular-scale(-1);
}

.twitter::before {
  @extend .some-icons;
  content: '\f099';
}

.linkedin::before {
  @extend .some-icons;
  content: '\f08c';
}

.facebook::before {
  @extend .some-icons;
  content: '\f082';
}

.instagram::before {
  @extend .some-icons;
  content: '\f16d';
}

.blog-list li {
  margin-bottom: modular-scale(-2);
}

.newsletter {
  @include span-columns(9);
  @include shift(3);
  margin-top: $large-spacing;
  display: table;
  @include media($mobile) {
    @include shift(0);
  }
}

.newsletter-cta {
  @include span-columns(3 of 9);
  @extend .contact-information-tiny;
  display: table-cell;
  vertical-align: middle;
  float: none;
  @include media($mobile) {
    @include span-columns(2 of 2);
    @include omega();
  }
}

.newsletter-input{
  @include span-columns(6 of 9);
  /*width: 26.66em;*/
  display: table-cell;
  vertical-align: middle;
  float: none;

  input {
    margin-bottom: 0;
    height: modular-scale(4);
  }
}

/* Dark input field only used in the footer */
input.input-dark {
  padding: 0 $base-spacing;
  background-color: darken($dark-gray, 5%);
  border-color: lighten($dark-gray, 2%);
  color: $white;
  font-family: $tiny-font-family;
  font-size: modular-scale(-1);

  &:hover {
    border-color: lighten($dark-gray, 5%);
  }

  &:focus {
    border-color: lighten($dark-gray, 20%);
    box-shadow: $form-box-shadow-focus-dark;
    outline: none;
  }
}