body {
  background-color: $base-background-color;
}

section {
  @include outer-container(em(980, 18));
  padding: $extra-large-spacing 0;
  @include media($mobile) {
    padding: $large-spacing 0;
  }
}

// LAYOUT CLASSES //

.form-wrapper {
  background-color: $light-gray;
  @include outer-container(em(980, 18));
  @include media($mobile){
    @include span-columns(2);
    @include omega();
    @include clearfix;
    padding: 0 $base-spacing;
    float: none;

    &:last-child{
      margin-top: $large-spacing;
    }
  }
}

.row {
  @include row();
  @include outer-container(em(980, 18));
}

.inner-section {
  margin: $base-spacing 0;
}

.ingress {
  margin-top: $base-spacing;
  @include media($mobile) {
    margin-top: $small-spacing;
  }
}

.one-third-layout {
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(2);
  }
}

.two-thirds-layout {
  @include span-columns(8);
  @include clearfix;
  @include media($mobile) {
    @include span-columns(2);
  }
}

.two-thirds-layout-offset {
  @include span-columns(8);
  @include shift(4);
  @include media($mobile) {
    @include span-columns(2);
    @include shift(0);
  }
}

.two-columns {
  @include span-columns(6);
  @include media($mobile){
    @include span-columns(2);
    @include omega();
    padding: 0 $base-spacing;
  }

  &:first-child {
    padding-right: $small-spacing;
  }
  &:last-child {
    padding-left: $small-spacing;
  }
}

.three-columns {
  @include span-columns(4);
}

.four-columns {
  @include span-columns(3);
}

.eight-columns-centered {
  @include span-columns(8);
  @include shift(2);
  @include clearfix;
  @include media($mobile){
    @include span-columns(2);
    @include shift(0);
    @include omega();
    padding: 0 $base-spacing;
  }
}

.ten-columns-centered {
  @include span-columns(10);
  @include shift(1);
  @include media($mobile){
    @include span-columns(2);
    @include shift(0);
    @include omega();
    padding: 0 $base-spacing;
  }
}

.spans-twelve-columns {
  @include span-columns(12);
  @include media($mobile){
    @include span-columns(2);
    @include omega();
  }
}

.has-table-context {
  @include display-context(table);
}

.has-padding-bottom {
  padding-bottom: $base-spacing;
}

.has-padding-top {
  padding-top: $base-spacing;
}

.has-padding-top-bottom {
  padding: $large-spacing 0;
}

.has-large-padding-top {
  padding-top: $large-spacing;
}
.has-large-padding-bottom {
  padding-bottom: $large-spacing;
}

.has-large-padding-top-bottom {
  padding: $large-spacing 0; 
}

.has-padding-left-right {
  padding-left: $base-spacing;
  padding-right: $base-spacing; 
}

.has-large-margin-top {
  margin-top: $large-spacing;
}

.has-margin-bottom {
  margin-bottom: $base-spacing;
}

.is-centered {
  margin: 0 auto;
}

// PRESENTATION CLASSES //

// background images

.has-background-image {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 45vw;
}

.has-background-image *:not(a) {
  color: $white;
  text-shadow: 1px 1px 5px transparentize($dark-gray, .7);
}


// toggles background color

$bg-colors: (
  "white": $white,
  "gray": $light-gray,
  bright: $action-color,
  light-colored: $light-blue
);

@each $name, $bg-color in $bg-colors {
  .#{$name} {
    background-color: $bg-color;
    width: 100%;   
  }
}

// toggles visibility

.is-hidden {
  display: none;
}

.is-visible {
  display: block;
}

// text styles

.text-centered {
  text-align: center;
}

.bullet-list {
  @extend %default-ul;

  & li {
    line-height: $long-form-line-height;
  }
}

// horizontal list used for icons and logos

ul.horizontal-list li {
  display: inline;
  padding-right: 0.3em;
}

.flex-container {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
}

.cards {
  @extend .flex-container;
  min-width: em(320, 18);
}

input.ghost-button {
  background-color: transparent;
  text-shadow: none;
  color: $white;
  border: 1px solid $white;
  font-family: $strong-font-family;
  height: auto;
  padding: $extra-small-spacing $small-spacing;

  &:hover,
  &:active,
  &:focus {
    color: $blue;
    border-color: $white;
    background-color: $white;
  }
  &:focus {
    border-color: $white;
    box-shadow: 0 0 5px transparentize($blue, .2); 
  }
}

// ADD FREDERIK TO ANY SECTION //

.freddy {
  background-image: url(image_path('freddy.jpg'));
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  height: 35rem;
  @include media($mobile) {
    background-image: url(image_path('freddy.jpg')); // TODO: make small version for mobile
  }
}