body {
  background-color: $base-background-color;
}

section {
  @include outer-container;
  @include media($mobile) {
    padding: $large-spacing 0;
  }
  padding: $extra-large-spacing 0;
}

footer {
  background-color: $dark-gray;
}

.form-wrapper {
  background-color: $light-gray;
  @include outer-container;
  @include media($mobile){
    @include span-columns(3);
    @include omega();
    @include clearfix;
    padding: 0 $base-spacing;
    float: none;

    &:last-child{
      margin-top: $large-spacing;
    }
  }
}

.row {
  @include row();
}

.two-thirds-layout {
  @include span-columns(9);
  @include media($mobile) {
    @include span-columns(3);
  }
}

.two-columns {
  @include span-columns(6);
  @include media($mobile){
    @include span-columns(3);
    @include omega();
    padding: 0 $base-spacing;

    &:last-child{
      margin-top: $large-spacing;
    }
  }
}

.three-columns {
  @include span-columns(4);
}

.four-columns {
  @include span-columns(3);
}

.eight-columns-centered {
  @include span-columns(8);
  @include shift(2);
  @include media($mobile){
    @include span-columns(3);
    @include shift(0);
    @include omega();
    padding: 0 $base-spacing;
  }
}

.has-table-context {
  @include display-context(table);
}

.has-padding-bottom {
  padding-bottom: $base-spacing;
}

.has-padding-top {
  padding-top: $base-spacing;
}

.has-padding-top-bottom {
  padding: $large-spacing 0;
}

.has-padding-left-right {
  padding-left: $base-spacing;
  padding-right: $base-spacing; 
}

.ingress {
  margin-top: $large-spacing;
  @include media($mobile) {
    margin-top: $small-spacing;
  }
}

.fills-parent {
  @include fill-parent;
}

.is-centered {
  margin: 0 auto;
}

.bullet-list {
  @extend %default-ul;

  & li {
    line-height: $long-form-line-height;
  }
}

/* list of font awesome icons linking to twitter etc */
ul.horizontal-list li {
  display: inline;
  padding-right: 0.3em;
}

/* sections inside elements - used on bio element for example */
.inner-section {
  margin: $base-spacing 0;
}

.text-centered {
  text-align: center;
}