.header { 

  background-image: url(image_path('banners/lean-cortado-banner.jpg')); 
  /* TODO automate based on either frontmatter or page classes */
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  @include media($mobile) {
    background-image: none;
    background-color: $light-blue;
  }

  section {
    padding: $large-spacing 0 $extra-large-spacing 0;
    @include media($mobile) {
      padding: $large-spacing $base-spacing $extra-large-spacing $base-spacing;
    }
  }
}

.header h2 {
  padding-bottom: $base-spacing;
  @include desktop-font-scale(2);
  @include media($mobile) {
      @include mobile-font-scale(2);
    }
  font-family: $base-font-family;
  color: $lightened-base-color;
  line-height: 1.4;
}

.event-details {
  @include desktop-font-scale(2);
  @include media($mobile) {
      @include mobile-font-scale(2);
  }
  color: $lightened-base-color;
  line-height: 1.6;
}