.header { 
  width: 100%;

  @include media($mobile) {
    background-image: none;
    background-color: $light-blue;
  }

/*  section {
    padding: $large-spacing 0 $large-spacing 0;
    @include media($mobile) {
      padding: $large-spacing $base-spacing $extra-large-spacing $base-spacing;
    }
  }*/
}


// ABOUT STYLES

.about-hero {
  @include background-image (
    linear-gradient(transparentize($action-color, .9), transparentize(darken($action-color, 10%), .8)), 
    url(image_path('headers/om-oss.jpg'))
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: em(-70, 18);
  @include media($mobile) {
    margin-top: 0;
    height: 80vh;
  }
}

// HOME STYLES

.home-hero {
  @extend .about-hero;
  @include background-image (
    linear-gradient(transparentize(darken($blue, 20%), .7), transparentize($action-color, .9)), 
    url(image_path('headers/start.jpg'))
  );
}

// PEOPLE-STYLES

.mennesker-hero {
  @extend .about-hero;
  @include background-image (
    linear-gradient(transparentize(darken($blue, 80%), .8), transparentize($action-color, 1)), 
    url(image_path('headers/mennesker.jpg'))
  );
}

#hero {
  position: relative;
  top: 30vh;
}

// CARREER STYLES

.career-hero {
  @extend .about-hero;
  @include background-image (
    linear-gradient(transparentize($action-color, .9), transparentize($action-color, .9)), 
    url(image_path('headers/karriere.jpg'))
  );
}

// EVENT & CASE STYLES

.telenor-hero {
  @extend .about-hero;
  @include background-image (
    url(image_path('cases/cloudphone.png'))
  );
  height: 100vh;

  @include media($mobile) {
    height: em(300,15);
  }
}

.banner {
  position: absolute;
  left: 50%;
  margin-left: -600px;
  z-index: 0;
  min-width:1200px;
  max-width: 1200px;
  height: 100%;
}

.cases .banner {
  top: 20%;
  height: auto;
}

.events .header {
  position: relative;
  overflow: hidden;
}

.events .header section {
  position: relative;
  z-index: 99;
}

.header h2 {
  padding-bottom: $base-spacing;
  @include desktop-font-scale(2);
  @include media($mobile) {
      @include mobile-font-scale(2);
    }
  font-family: $base-font-family;
  color: $lightened-base-color;
  line-height: 1.4;
}

.event-details {
  @include desktop-font-scale(2);
  @include media($mobile) {
      @include mobile-font-scale(2);
  }
  color: $lightened-base-color;
  line-height: 1.6;
}

.lean-cortado .header{
  background-color: $light-blue;
}

.dark li {
  color: $white !important;
}

