.lean-cortado {
  #navigation-bar {
    background-color: $white;
  }
}


ul.main-navigation {
  padding: $base-spacing 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  li {
    margin: 0 $small-spacing;
    text-transform: uppercase;
    font-size: modular-scale(-1);
    font-family: $strong-font-family;

    &:first-child {
      flex-grow: 2;
    }

    a {
      border-bottom: transparent;
      color: $base-font-color;

      &:hover {
      border-bottom: 2px solid $action-color;
      padding-bottom: $small-spacing / 2;
      color: $action-color;
      }
    }

    .link-with-logo {
      border-bottom: none;

      &:hover,
      &:active{
        border-bottom: none;
      }
    }
    .active {
      border-bottom: 2px solid $blue;
      padding-bottom: $small-spacing / 2;
    }
  }
}

.navigation-bar-logo {
  height: modular-scale(1);
}