#navigation-bar .row {
  @include media($toggle-navigation) {
    padding: 0;
  }
}

#navigation-bar {
  background-color: $primary-text-color;
  
  a.menu-toggle {
    display: none;

    @include media($toggle-navigation) {
      @include mobile-font-scale(-1);
      @include omega;
      display: block;
      margin: 1em 1em 0 0;
      float: right;
    }

    &:hover,
    &:active,
    &:visited,
    &:focus {
      border-bottom: transparent;
    }
  }

  ul.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: $base-spacing 0 $extra-small-spacing 0;


    @include media($toggle-navigation) {
      display: none;
      z-index: 99;
    }

    li {
      margin: 0 $small-spacing;
      padding: 0 0 0 0;
      text-transform: uppercase;
      color: $white;
      font-size: modular-scale(-1);
      font-family: $strong-font-family;
      text-shadow: 1px 1px 2px transparentize($base-font-color, .8);

      @include media($toggle-navigation) {
        margin-left: 0;
      }

      &.active {
        border-bottom: 2px solid $white;
        text-shadow: none;

        @include media($toggle-navigation) {
          color: $blue;
          background-color: $white;
          border-bottom: 1px solid $white;

          &::before {
            content: '» ';
            color: $blue;
          }
        }
      }

      @include media($toggle-navigation) {
        @include mobile-font-scale(1);
        font-family: $base-font-family;
        width: 100%;
        text-align: right;
        padding: $small-spacing;
        border-bottom: 1px solid $white;
        background-color: $primary-color;
        z-index: 99;
      }

      &:first-child {
        margin-top: $large-spacing;
      }
      &:last-child {
        @include media($toggle-navigation) {
          border: none;
        }
      }

      a {
        border-bottom: 2px solid transparent;
        display: block;
        color: $white;

        @include media($toggle-navigation) {
          border: none;
          color: $white;
          text-shadow: none;
        }

        &:hover {
          border-bottom: 2px solid $action-color;
          color: $action-color;

          @include media($toggle-navigation) {
            border: none;
            color: $white;
            text-shadow: none;
          }
        }
      }
    }
  }

  ul.is-visible {
    display: flex !important;
    background-color: $dark-gray;
  }

  .link-with-logo {
    border-bottom: none;
    position: relative;
    float: left;
    line-height: 1;
    padding: $small-spacing 0 $small-spacing 0;

    @include media($toggle-navigation) {
      padding-left: $small-spacing;
    }

    &:hover,
    &:active{
      color: $white;
      border-bottom: none;
    }

    img {
      height: em(30,18);
    }
  }

  .navigation-bar-logo {
    height: modular-scale(2);
  }

  .link-to-home {
    display: none;

    @include media($toggle-navigation) {
      display: list-item;
    }
  }
}

