.people-bio-box{
  background-color: $white;
  width: 100vw;
}

.employee-full-portrait {
  float: right;
  margin-right: 0;
  width: 38vw;
}

.employee-details {
  @include span-columns (7);
}

.skills, 
.clients, 
.experience {
  font-family: $deco-font-family;
  font-style: $deco-font-style;
  font-weight: $deco-font-weight;
  text-transform: uppercase;
  color: $medium-gray;
  line-height: 1.6;
  padding-bottom: .2em;
  font-size: 0.875em;

  i.fa {
    padding-right: 1em;
  }
}

.contact-details {
  font-family: $deco-font-family;
  font-style: $deco-font-style;
  font-weight: $deco-font-weight;

  &:first-child:after {
  content: '|';
  padding-left: 0.3em
}
}