
.employee-card {
  margin: 0 $small-spacing $base-spacing $small-spacing;
  list-style-type: none;
  background-color: $white;
  border: $base-border;
  border-radius: $base-border-radius;
  padding: $base-spacing;
  @include flex-basis(em(300,18));
  @include flex-grow(0);
  @include transition (all 0.2s ease-in-out);

  &:focus,
  &:hover,
  &:active {
     box-shadow: 0 2px 6px transparentize($base-font-color, 0.5);
  
    .mugshot {
      clip-path: circle(150px at center);
    }
  }
}

.mugshot {
  clip-path: circle(80px at center);
  transition: all .7s ease-in-out;
  height: 160px;
  margin: $small-spacing auto $base-spacing auto;
  display: block;
  border-radius: 4px;
  overflow: hidden;

  &:hover {
    clip-path: circle(150px at center);
  }
}

ul.card-content {

  .employee-name {
    font-family: $strong-font-family;
  }

  .employee-title {
    text-transform: uppercase;
    color: $medium-gray;
    padding-bottom: $extra-small-spacing;
  }

  .employee-name a,
  .employee-title a {
      color: $base-font-color;
      border: none;

      &:hover,
      &:active,
      &:focus {
        border: none;
      }
    }

  .employee-title,
  .contact-details {
    @include desktop-font-scale(-1);
  }

  ul.horizontal-list {
    padding-top: $small-spacing;
  }
}

.people-bio-box{
  background-color: $white;
  width: 100vw;

  section {
    padding-bottom: 0;
    @include media($mobile) {
      padding-bottom: $large-spacing;
    }
  }

  h2 {
    padding-bottom: $base-spacing;
  }
}

.employee-full-portrait {
  float: right;
  margin-right: 0;
  width: 38vw;
  @include media($mobile) {
    display: none;
  }
}

.employee-details {
  @include span-columns (7);
  @include media($mobile) {
    @include span-columns(2);
    padding: 0 $base-spacing;
  }
}

.skills, 
.clients, 
.experience {
  font-family: $deco-font-family;
  font-style: $deco-font-style;
  font-weight: $deco-font-weight;
  text-transform: uppercase;
  color: $medium-gray;
  line-height: 1.6;
  padding-bottom: .2em;
  font-size: 0.875em;

  i.fa {
    padding-right: 1em;
  }
}

.contact-details {
  font-family: $deco-font-family;
  font-style: $deco-font-style;
  font-weight: $deco-font-weight;

  &:first-child:after {
  content: '|';
  padding-left: 0.3em
  }
}