.employee-card {
  margin: 0 $small-spacing $base-spacing $small-spacing;
  list-style-type: none;
  background-color: $white;
  border: $base-border;
  border-radius: $base-border-radius;
  overflow: hidden;
  @include display(flex);
  @include flex-grow(0);
  @include flex-basis(inherit);
  @include flex-wrap(nowrap);
  @include flex-direction(row);
  @include transition (all 0.2s ease-in-out);

  &:focus,
  &:hover,
  &:active {
     box-shadow: 0 2px 6px transparentize($base-font-color, 0.5);
  }

  @include media($mobile) {
    @include flex-wrap(wrap);
    @include flex-grow(1);
  }
}

.employee-basic-info {
  @include display(flex);
  @include flex-direction(column);
  @include flex-grow(1);
  @include animation(slide 0.5s ease);
  padding-bottom: $base-spacing;

  & a,
  & a:hover,
  & a:focus,
  & a:active {
    border: none;
  }
}

.employee-extended-info {
  @include animation(slide 0.5s ease);
  @include flex-grow(2);
  @include flex-basis(auto);
  @include flex-direction(row);
  padding: $base-spacing;
  margin: 0 0 0 $base-spacing;
  max-width: em(500);
}

.employee-card-header {
  display: block;
  width: 100%;
  cursor: pointer;
}

.mugshot {
  min-width: em(280, 18);
  margin: 0 0 $base-spacing 0;
  position: relative;
  top: 0;

  @include media($mobile){
    width: 100%;
  }
}

ul.card-content {

  .employee-name {
    font-family: $strong-font-family;
    color: $base-font-color;
    @include desktop-font-scale(1);
  }

  .employee-title {
    text-transform: uppercase;
    color: $medium-gray;
    padding-bottom: $extra-small-spacing;
  }

  .employee-name a,
  .employee-title a {
      color: $base-font-color;
      border: none;

      &:hover,
      &:active,
      &:focus {
        border: none;
      }
    }

  .employee-title,
  .contact-details {
    @include desktop-font-scale(-1);
  }

  ul.horizontal-list {
    padding-top: $small-spacing;
  }
}

.skills, 
.clients, 
.experience {
  font-family: $deco-font-family;
  font-style: $deco-font-style;
  font-weight: $deco-font-weight;
  text-transform: uppercase;
  color: $medium-gray;
  line-height: 1.6;
  padding-bottom: .2em;
  font-size: 0.875em;

  i.fa {
    padding-right: 1em;
  }
}

// STYLES APPLYING TO PARTIAL _people-bio.html.haml ONLY //

.people-bio-box{
  background-color: $white;
  width: 100vw;

  section {
    padding-bottom: 0;
    @include media($mobile) {
      padding-bottom: $large-spacing;
    }
  }

  h2 {
    padding-bottom: $base-spacing;
  }
}

.employee-portrait-box {
  float: right;
  margin-right: 0;
  height: em(800, 18);
  max-width: 33%;
  overflow: hidden;
  @include media($mobile) {
    display: none;
  }
}

.employee-full-portrait {
  object-fit: cover;
  height: em(800, 18);
  @include media($mobile) {
    display: none;
  }
}

.employee-details {
  @include span-columns (7);
  @include media($mobile) {
    @include span-columns(2);
    padding: 0 $base-spacing;
  }
}

.horizontal-list .contact-details {
  font-family: $deco-font-family;
  font-style: $deco-font-style;
  font-weight: $deco-font-weight;

  &:first-child:after {
  content: '|';
  padding-left: 0.3em
  }
}