.registration-form-horizontal {
  padding: $base-spacing 0;

  .form-element{
    @extend .three-columns;

    input {
      margin-bottom: 0;
    }
    button {
      vertical-align: bottom;
    }
  }
}

.registration-form-vertical {

  .form-element{
    @include span-columns(4 of 6);

    input {
      margin-bottom: $small-spacing;
    }
  }
  .form-element:nth-child(2) {
    margin-bottom: $small-spacing;
  }
}