.registration-form-horizontal {
  padding: $base-spacing 0;
  width: 47em;
  margin: 0 auto;

  .form-element{
    display: table-cell;
    vertical-align: bottom;

    input {
      width: 17em;
      margin: 0 $base-spacing 0 0;
    }
    button {
      vertical-align: bottom;
    }
  }
}

.registration-form-vertical {

  .form-element{
    @include span-columns(4 of 6);

    input {
      margin-bottom: $small-spacing;
    }
  }
  .form-element:nth-child(2) {
    margin-bottom: $small-spacing;
  }
}