---
title: Telenor - fremtidens kommunikasjonstjenester
people:
  - 'haugeto'
  - 'aaberg'
---
#main
  .header
    %img{:src => image_path('logos/Telenor_logo.png'), :class => 'logo-in-header'}

  .white
    %section
      %h2.text-centered Telenor
      %h3.text-centered Fremtidens kommunikasjonstjenester

      .ten-columns-centered

        %h4 WebRTC og vanlige folk sine problemer

        %p.ingress Telenor ønsket å utforske hvordan WebRTC-teknologi kunne hjelpe dem å bygge fremtidends kommunikasjonstjenester. De trengte en eksperimentell prosess, hvor de raskest mulig kunne lære hva som gir kundene verdi. 

  = partial 'partials/customer-quote-single', :locals => { :background_color => 'gray' }

  .white  
    %section 
      .ten-columns-centered
        %h4.has-padding-top Vår tilnærming

        %p Ved prosjektstart hadde vi en rekke konsepter og ideer å teste. Istedenfor å diskutere hvilken vi hadde mest tro på, gikk vi “ut på gaten” og for å lære personer i målgruppen å kjenne. Etter få uker identifiserte vi et nytt konsept, ingen hadde tenkt på tidligere: 

        %p Phoneline bruker WebRTC til å ringe fra sitt mobiltelefonnummer til andre telefoner via nettleseren. Gjennom videre undersøkelser identifiserte vi norske studenter i utlandet som “pragmatists in pain” - med betalingsvillighet. Disse ble både våre første brukere, og et brohode til kritisk masse. Vi itererte videre over løsningen og verdibudskapene. Når konseptet begynte å sitte bygget vi løsningen på 4 uker, og markedsførte den i sosiale medier og andre spissede kanaler til et testantall på 150 pilotbrukere var nådd.

  %img{:src => image_path('cases/telenor-ws.jpg'), :class => 'image-full-width'}

  .white  
    %section
      .ten-columns-centered
        %h4.has-padding-top Resultater

        %p Ved hjelp av en eksperimentell tilnærming identifiserte vi et reelt brukerbehov i markedet. I dag har Phoneline aktive brukere i 12 ulike land som bruker og er godt fornøyd med tjenesten.

  .bright
    %section.key-points
      .ten-columns-centered
        .cards
          .key-points-card
            %ul.text-centered
              %li.key-number 150 
              %li.key-caption pilotbrukere
          .key-points-card
            %ul.text-centered
              %li.key-number 12 
              %li.key-caption land
          .key-points-card
            %ul.text-centered
              %li.key-number 4 
              %li.key-caption uker pilotfase

  %h2.text-centered.has-large-padding-top-bottom Teamet vårt
  = partial 'partials/people-card'