#{$all-button-inputs},
button {
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $strong-font-family;
  font-size: $base-font-size * 1.2;
  font-weight: $strong-font-weight;
  line-height: 1;
  padding: 0.8em 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba($dark-gray, 0.5);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
