body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: 10.375em;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  font-style: $heading-font-style;
  line-height: 1;
  color: $white;
}

h2 {
  font-size: 0.875em;
  color: $blue;
  font-family: $strong-font-family;
  font-weight: $strong-font-weight;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: $heading-line-height;
}

h3 {
  font-size: 4em;
  line-height: $base-line-height;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  color: $medium-gray;
}

h4 {
  font-size: 1.125em;
  line-height: $heading-line-height;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  text-transform: uppercase;
}

p {
  margin: 0 0 $small-spacing;
  line-height: $long-form-line-height;
  color: $base-font-color;
}

a {
  color: $action-color;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;

  &:active,
  &:focus,
  &:hover {
    border-bottom: 1px solid $action-color;
    transition: border-color 0.3s ease-in-out;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

/* link styles for font awesome icons - used on employee cards and bio sections */
.icon {
  color: $medium-gray;
  border-bottom: none;
  transition: color 0.3s ease-in-out;

  &:active,
  &:focus,
  &:hover {  
    color: $action-color;
    transition: color 0.3s ease-in-out;
    border-bottom: none;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.name-small, 
.title-small {
  text-transform: uppercase;
  color: $medium-gray;
  font-size: 0.75em;
  line-height: $base-line-height;
}

.kontakt-information-tiny {
  font-size: 0.68em;
  line-height: $base-line-height;
}

i {
  font-size: 1.125em;
  line-height: 1;
  padding-right: .5em;
}

hr {
  border-bottom: $base-divider;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
