body {
  @include font-feature-settings("kern" false, "liga", "pnum");
  -webkit-font-smoothing: subpixel-antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  @include desktop-font-scale(0);
    @include media($mobile) {
      @include mobile-font-scale(0);
    }
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0;
  padding-bottom: $base-spacing;
}

h1 {
  @include responsive-font(13.5vw, 60px, 140px);
  font-family: $hero-font-family;
  font-weight: $hero-font-weight;
  font-style: $hero-font-style;
  line-height: 1;
  color: $white;
  padding-bottom: rem($base-spacing);
}

h2 {
  @include desktop-font-scale(-1);
  @include media($mobile) {
      @include mobile-font-scale(0);
    }
  color: $blue;
  font-family: $strong-font-family;
  font-weight: $strong-font-weight;
  text-transform: uppercase;
  letter-spacing: .03em;
  line-height: $heading-line-height;
}

h3 {
  @include desktop-font-scale(5);
  @include media($mobile) {
      @include mobile-font-scale(5);
    }
  line-height: $base-line-height;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  color: $base-font-color;
}

h4 {
  @include desktop-font-scale(3);
  @include media($mobile) {
      @include mobile-font-scale(3);
    }
  line-height: $heading-line-height;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  color: $base-font-color;
}

h5 {
  @include desktop-font-scale(-1);
  @include media($mobile) {
      @include mobile-font-scale(0);
    }
  line-height: $heading-line-height;
  font-family: $strong-font-family;
  font-weight: $strong-font-weight;
  text-transform: uppercase;
  letter-spacing: .03em;
}

p {
  margin: 0 0 $small-spacing;
  line-height: $long-form-line-height;
  color: $base-font-color;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  @include desktop-font-scale(1);
  @include media($mobile) {
    @include mobile-font-scale(0);
  }
}

ul {
  @include desktop-font-scale(0);
  @include media($mobile) {
    @include mobile-font-scale(0);
  }
}

.ingress {
  @include desktop-font-scale(2);
  @include media($mobile) {
      @include mobile-font-scale(1);
    }
  font-family: $em-font-family;
  font-style: $em-font-style;
  font-weight: $em-font-weight;
}

.quote {
  @include desktop-font-scale(2);
  @include media($mobile) {
      @include mobile-font-scale(1);
    }
  color: $base-font-color;
}

.smallscript {
  @include desktop-font-scale(-2);
  @include media($mobile) {
      @include mobile-font-scale(-1);
    }
  font-family: $tiny-font-family;
  font-weight: 400;
  line-height: $base-line-height;
}

.strikethrough {
  text-decoration: line-through;
}

.name-small, 
.title-small {
  @extend .smallscript;
  text-transform: uppercase;
  color: $medium-gray;
  font-weight: 700;
  letter-spacing: 2px;
}

.contact-information-tiny {
  @extend .smallscript;
}

// Link styles
a {
  color: $action-color;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;

  &:active,
  &:focus,
  &:hover {
    border-bottom: 1px solid $action-color;
    transition: border-color 0.3s ease-in-out;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

// Link styles for font awesome icons - used on employee cards and bio sections
.icon {
  color: $medium-gray;
  border-bottom: none;
  transition: color 0.3s ease-in-out;

  &:active,
  &:focus,
  &:hover {  
    color: $action-color;
    transition: color 0.3s ease-in-out;
    border-bottom: none;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.fa {
  @include desktop-font-scale(0);
  @include media($mobile) {
      @include mobile-font-scale(0);
    }
  line-height: 1 !important;
  padding-right: .5em;
}

hr {
  border-bottom: $base-divider;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
