// Body Font Styles
$base-font-family: "Planer-Regular", sans-serif;
$base-font-weight: normal;
$base-font-style: normal;
$base-font-size: 18px;

$em-font-family: "Planer-Italic", sans-serif;
$em-font-weight: normal;
$em-font-style: italic;

$strong-font-family: "Planer-DemiBold", sans-serif;
$strong-font-weight: normal;
$strong-font-style: normal;

// Hero Font Styles
$hero-font-family: "NoyhBold", Futura, sans-serif;
$hero-font-weight: normal;
$hero-font-style: normal;

// Tiny Font Styles
$tiny-font-family: "Open Sans", sans-serif;
$tiny-font-style: normal;
// set weight to 400 for normal and 700 for bold

// Deco Font Styles
$deco-font-family: $base-font-family;
$deco-font-weight: $base-font-weight;
$deco-font-style: $base-font-style;

// Responsive Typography 
// Viewport sizes and font ranges
$min_width: 400; 
$max_width: 960;
$min_font: 16;   
$max_font: 24;

// Line height
$base-line-height: 1.4;
$heading-line-height: 1.2;
$long-form-line-height: 1.6;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: modular-scale(2);
$small-spacing: modular-scale(0);
$large-spacing: modular-scale(5);
$extra-large-spacing: modular-scale(7);
$base-z-index: 0;

// Colors
$blue: #0077C0;
$dark-gray: #45494D;
$medium-gray: #7C7F82;
$light-gray: #F5F6F7;
$white: #FFF;
$orange: #F56A2A;

$base-background-color: $light-gray;
$base-font-color: $dark-gray;
$action-color: $orange;
$lightened-base-color: lighten($base-font-color, 10%);

// Border
$base-border-color: #C4CFD4;
$base-border: 1px solid $base-border-color;
$base-divider: 1px solid transparentize($base-border-color, 0.2);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
