// Typography
$base-font-family: "Planer-Regular";
$base-font-weight: normal;
$base-font-style: normal;

$em-font-family: "Planer-Italic";
$em-font-weight: normal;
$em-font-style: normal;

$strong-font-family: "Planer-DemiBold";
$strong-font-weight: normal;
$strong-font-style: normal;

$heading-font-family: "NoyhBold";
$heading-font-weight: normal;
$heading-font-style: normal;

$quote-font-family: $em-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.3;
$heading-line-height: 1.2;
$long-form-line-height: 1.6;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #0077C0;
$dark-gray: #45494D;
$medium-gray: #7C7F82;
$light-gray: #F5F6F7;
$white: #FFF;
$orange: #F56A2A;

// Font Colors
$base-background-color: $light-grey;
$base-font-color: $dark-gray;
$action-color: $orange;

// Border
$base-border-color: #C4CFD4;
$base-border: 1px solid $base-border-color;
$base-divider: 1px solid transparentize($base-border-color, 0.2)

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
