- # set :locals => { :background_color => "$COLOR" } to gray or white to toggle background color when calling the partial

%div{ :class => background_color }

  %section
    %h2.centered Dette sier deltakerne

    .two-columns
      %p.quote
        = lorem.sentences 2
      %ul.customer
        %li.customer-name Chuck Norris
        %li.customer-jobtitle VP of General Awesomeness

    .two-columns
      %p.quote
        = lorem.sentences 2
      %ul.customer
        %li.customer-name Lord D. Vader
        %li.customer-jobtitle Death Star Lead, Emperor, Dark Side