.one-third-layout
  .customer-portrait.is-centered.position-relative
    %img{ :src => image_path('customer-mugshots/' + data.quotes[customer].photo), :alt => ('Photo of' + data.quotes[customer].name), :class => 'is-centered' }
    .overlay
.two-thirds-layout
  %p.quote
    = data.quotes[customer].quote
  %ul.customer
    %li.customer-name= data.quotes[customer].name
    %li.customer-jobtitle= data.quotes[customer].title