.flex-container.has-padding-top
  .customer-logo= image_tag image_path('logos/amedia.png')
  .customer-logo= image_tag image_path('logos/lego.jpg')
  .customer-logo= image_tag image_path('logos/spk.png')