- # set :locals => { :background_color => "$COLOR" } to gray or white to toggle background color when calling the partial

%div{ :class => background_color } 
  %section
    .ten-columns-centered
      %p.quote
        Det beste er og sette seg mål for kva ein vill oppnå. Det gjere det mykje lettare å føle at eg MÅ prestere 100%. Det er kjempe bra og få tilbakemelding etter kvar innsending om kva eg burde gjere bedre og kva godt eg har gjort. Det gav ein liten motivasjons dose :)  Hadde ikkje klart det uten online-PT og hjelpen eg får av min online PT Caroline! 
      %ul.customer
        %li.customer-name Christine
        %li.customer-jobtitle Kunde