- customer[0..1].each do | customer |
  .two-columns
    %p.quote
      = data.quotes[customer].quote
    %ul.customer
      %li.customer-name= data.quotes[customer].name
      %li.customer-jobtitle= data.quotes[customer].title