.flex-container.has-padding-top
  .customer-logo= image_tag image_path('logos/gjensidige.png')
  .customer-logo= image_tag image_path('logos/telenor.png')
  .customer-logo= image_tag image_path('logos/logo-lego.png')