<form id="registration-form" accept-charset="UTF-8" action="https://formkeep.com/f/355b4335b124" method="POST">
  <p class="main-cta">Meld deg på seminaret</p>
  <input type="hidden" name="utf8" value="✓"> <!-- formkeep stuff -->

  <div class="group" id="name-input">
    <input type="text" name="name" required>
    <span class="bar"></span>
    <label for="name">Ditt navn</label>
  </div>

  <div class="group" id="email-input">
    <input type="email" name="email" required>
    <span class="bar"></span>
    <label for="email">Din epost</label>
  </div>

  <button type="submit" id="submit-button">Send inn</button>

</form>