---
title: Om oss
---

#main
  .header.about-hero
    %section
      %h1#hero.text-centered Vi er skapere

  .white
    %section
      .spans-twelve-columns
        %h3.text-centered Vi er gode p친
      
      .row
        .two-columns
          %h4.has-padding-top 游 Systemutvikling
          %p Vi kombinerer Java, JavaScript, Clojure og Scala med devops og continuous deployment.
        .two-columns
          %h4.has-padding-top 游꿢 Teknologiledelse
          %p Fra empowerment og japansk bilproduksjon til digitale entrepren칮rer og kreativt p친gangsmot
      .row
        .two-columns        
          %h4.has-padding-top 游눪 Transformasjoner
          %p Vi skaper bevegelse i kultur og tankesett. Workshops, coaching, eller Startup Week!
        .two-columns
          %h4.has-padding-top 游눺 Corporate Ventures
          %p N친r du 칮nsker oss inn p친 et digitalt venture-team for maksimal kreativitet og verdiskapning

  - # set to gray or white to control background-color of the partial
  = partial 'partials/customer-quote-single', :locals => { :background_color => 'grey' }

  .kent.has-background-image
    %section
      .two-thirds-layout
        %h2 Felles tankegods
        %h3 Ferske ingeni칮rer, illusjoner og ambisjoner
        %p I Iterate er menneskene valutaen, og verdier resultatet

  .white
    %section
      %h2.is-hidden om oss
     
      .ten-columns-centered

        %p Med 칮nske om verdiskapning, kolliderte vi med virkeligheten. Tross iherdig innsats brukte vi for mye tid p친 feil ting. Slik ble vi unnfanget.
        
        %p Vi ville finne 친rsaken til forvirringen, og begynte 친 l칝re fra Mary og Tom Poppendieck, Jeff Sutherland, Kent Beck, Eric Ries og flere. <em>Det m친 finnes bedre m친ter 친 gj칮re dette p친.</em>

        %p Fra f칮rste dag har vi snakket om talent og motivasjon. Iterate DNA-et er kompetanseutvikling i verdiskapingens 칝rend.

        %p Iterate er et eksperiment og en dannelsesreise. Vi har som m친l 친 skape verdi, utvikle ferdigheter og 친 ha det g칮y. Iterate er 친 tenke stort, i mange sm친 skritt.

  .mary.has-background-image
    %section
      .spans-twelve-columns        
        %h2.is-hidden fasit 
        %h3.text-centered Leke, Lage, L칝re
