---
title: Om oss
---

#main
  .header.about-hero
    %section
      %h1#hero.text-centered Vi er skapere

  .white
    %section
      .ten-columns-centered        
        %h3.text-centered Vi er gode på
      
        %h4.has-padding-top Systemutvikling
        %p Hos oss står systemutviklerne på to ben: Teknologibenet og metodebenet. Vi like å kode i Java, JavaScript / HTML5, Python og Clojure. Vi er pådrivere for devops, continuous deployment og inkrementell utvikling. Vi løper raskest når begge bena er like lange. 
      
        %h4.has-padding-top Prosjekt- og utviklingsledelse
        %p Vi leder både prosjekter og produktutvikling. Vi kombinerer tankegang fra japansk bilproduksjon med kreativ galskap fra digitale entreprenører. Vi benytter smidige metoder og raske iterasjoner for å få effektive tilbakemeldinger. Først og fremst er vi opptatt av å få ting gjort.
        
      
        %h4.has-padding-top Rådgivning og kompetanseheving
        %p Vi hjelper deg og din bedrift utvikle ferdigheter på smidig tankegang, digital innovasjon og entreprenørskap. Vi tilbyr kurs, workshops og coaching, eller kanskje har du lyst til å kjøre din egen interne Startup Week sammen med oss?
      
        %h4.has-padding-top Corporate Ventures
        %p Corporate Ventures er en mulighet for kunder som ser nye forretningsmuligheter. Når du ønsker å forankre arbeidet og læringen i et kryssfunksjonelt team der alle jobber for ett og samme mål: Maksimal verdiskapning

  - # set to gray or white to control background-color of the partial
  = partial 'partials/customer-quote-single', :locals => { :background_color => 'grey' }

  .white
    %section
      %h2.is-hidden om oss
      
      .ten-columns-centered
        .ingress.has-padding-bottom Ferske ingeniører og illusjoner som brast. Fra dette oppstår Iterate - et sted der menneskene er valutaen og verdiskaping er resultatet

        %h4.has-padding-top Målløs fokusering

        %p Iterate DNA’et kommer fra en kollisjon mellom virkeligheten, og et ønske om å skape verdier. Vi møtte sviktende forutsetninger, stress og fortvilelse - tross iherdig innsats. Kunnskapsarbeiderne betalte kostnadene.

        %p Nøkkelen til å lykkes er ikke kompetanse. Det var vår illusjon. 
        
        %p Overalt så vi mennesker med ønske om å lykkes. Vi skjønte at samarbeidsformen måtte ha noe å si.

        %p Så vi begynte å lese. Mary og Tom Poppendieck satte oss på sporet av andre, som Jeff Sutherland, Kent Beck og Eric Ries.

        %p En tanke begynte å demre. <em>Det finnes bedre måter å gjøre dette på.</em> Kongstanken ble talent og motivasjon. Ett samlende tankesett. Kompetanseutvikling i verdiskapingens ærend.

        %p Iterate er et eksperiment og en dannelsesreise. Vi jobber fokusert uten mål. Vi <em>lager</em> ved å <em>leke</em> og <em>lære</em> fra hverandre og fra omverdenen. 

        %p Nøkkelen til å lykkes er hva du selv ønsker.    
