---
title: Om oss
---

#main
  .header.about-hero
    %section
      %h1#hero.text-centered Vi er skapere

  .white
    %section
      .spans-twelve-columns
        %h3.text-centered Vi er gode på
      
      .row
        .two-columns
          %h4.has-padding-top ☕ Systemutvikling
          %p Vi kombinerer Java, JavaScript, Clojure og Scala med devops og continuous deployment.
        .two-columns
          %h4.has-padding-top 🎯 Teknologiledelse
          %p Fra empowerment og japansk bilproduksjon til digitale entreprenører og kreativt pågangsmot
        .two-columns        
          %h4.has-padding-top 💫 Transformasjoner
          %p Vi skaper bevegelse i kultur og tankesett. Workshops, coaching, eller Startup Week!
        .two-columns
          %h4.has-padding-top 🚀 Corporate Ventures
          %p Når du ønsker oss inn på et digitalt venture-team for maksimal kreativitet og verdiskapning

  -# TODO: When new quote is ready for publication, add this section back in
  -#
  -# .gray
  -#   %section
  -#     .row
  -#       .two-thirds-layout-offset
  -#         %h2 Lorem ipsum
  -#     .row
  -#       = partial 'partials- #customer-quote-single', :locals => { :customer => 'syversen'}

  .kent.has-background-image
    %section
      .two-thirds-layout
        %h2 Felles tankegods
        %h3 Ferske ingeniører, illusjoner og ambisjoner
        %p I Iterate er menneskene valutaen, og verdier resultatet

  .white
    %section
      %h2.is-hidden om oss
     
      .ten-columns-centered

        %p Med ønske om verdiskapning, kolliderte vi med virkeligheten. Tross iherdig innsats brukte vi for mye tid på feil ting. Slik ble vi unnfanget.
        
        %p Vi ville finne årsaken til forvirringen, og begynte å lære fra Mary og Tom Poppendieck, Jeff Sutherland, Kent Beck, Eric Ries og flere. <em>Det må finnes bedre måter å gjøre dette på.</em>

        %p Fra første dag har vi snakket om talent og motivasjon. Iterate DNA-et er kompetanseutvikling i verdiskapingens ærend.

        %p Iterate er et eksperiment og en dannelsesreise. Vi har som mål å skape verdi, utvikle ferdigheter og å ha det gøy. Iterate er å tenke stort, i mange små skritt.

  .mary.has-background-image