---
title: Om oss
---

#main
  .header.about-hero
    %section
      %h1#hero.text-centered Vi er skapere

  .white
    %section
      .spans-twelve-columns
        %h3.text-centered Vi er gode på
      
      .row
        .two-columns
          %h4.has-padding-top 🚀 Systemutvikling
          %p Vi liker å kode i Java, JavaScript, Clojure og Scala, og kombinerer det gjerne med devops, continuous deployment og inkrementell utvikling.
        .two-columns
          %h4.has-padding-top 🎯 Teknologiledelse
          %p Fra filosofien bak japansk bilproduksjon til kreativ galskap fra digitale entreprenører: Først og fremst er vi opptatt av å skape noe nyttig og verdifullt.

      .row
        .two-columns        
          %h4.has-padding-top 🎓 Transformasjoner
          %p Vi hjelper deg skape bevegelse mot smidigere tankegang og entreprenørskap. Vi tilbyr kurs, workshops og coaching, eller kanskje har du lyst til å kjøre din egen Startup Week med oss?
        .two-columns
          %h4.has-padding-top 🏢 Corporate Ventures
          %p For kunder som vil skape nye forretningsområder hvor IT er sentralt. Når du ønsker oss inn på et venture-team for maksimal kreativitet og verdiskapning
        

  - # set to gray or white to control background-color of the partial
  = partial 'partials/customer-quote-single', :locals => { :background_color => 'grey' }

  .kent.has-background-image
    %section
      .two-thirds-layout
        %h2 tomme hender og et tomt hode hver
        %h3 Ferske byggere, illusjoner og ambisjoner
        %p Iterate ble arbeidsplassen der menneskene er valutaen og verdiskaping er resultatet

  .white
    %section
      %h2.is-hidden om oss
     
      .ten-columns-centered

        %p Iterate DNA’et kommer fra en kollisjon mellom virkeligheten, og et ønske om å skape noe. Tross iherdig innsats brukte vi for mye tid på feil ting.
        
        %p Vi lurte på hva som var den egentlige årsaken til den forvirring vi så i bransjen rundt oss, og begynte å lære fra Mary og Tom Poppendieck, Jeff Sutherland, Kent Beck, Eric Ries og flere. <em>Det må finnes bedre måter å gjøre dette på.</em>

        %p Fra første dag har vi snakket om talent og motivasjon. Kompetanseutvikling i verdiskapingens ærend.

        %p Iterate er et eksperiment og en dannelsesreise. Vi har som mål å skape verdi, utvikle ferdigheter og å ha det gøy. Iterate er å tenke stort, i mange små skritt.

  .mary.has-background-image
    %section
      .spans-twelve-columns        
        %h2.is-hidden fasit 
        %h3.text-centered Leke, Lage, Lære
