---
title: Om oss
---

#main
  .header.about-hero
    %section
      %h1#hero.text-centered Vi er skapere

  .white
    %section
      .ten-columns-centered        
        %h3.text-centered Vi er gode på
      
        %h4.has-padding-top Systemutvikling
        %p Vi er opptatt både av teknologien og virkningen den har. Vi liker å kode i Java, JavaScript, Clojure og Scala, og kombinerer det gjerne med devops, continuous deployment og inkrementell utvikling.
      
        %h4.has-padding-top Prosjekt- og utviklingsledelse
        %p Vi kombinerer filosofien fra japansk bilproduksjon med kreativ galskap fra digitale entreprenører. Først og fremst er vi opptatt av å skape noe nyttig og verdifullt.
        
        %h4.has-padding-top Kompetanseheving og transformasjoner
        %p Vi hjelper deg skape bevegelse mot smidigere tankegang og entreprenørskap. Vi tilbyr kurs, workshops og coaching, eller kanskje har du lyst til å kjøre din egen Startup Week med oss?
      
        %h4.has-padding-top Corporate Ventures
        %p For kunder som vil skape nye forretningsområder hvor IT er sentralt. Når du ønsker oss inn på et venture-team for maksimal kreativitet og verdiskapning

  - # set to gray or white to control background-color of the partial
  = partial 'partials/customer-quote-single', :locals => { :background_color => 'grey' }

  .white
    %section
      %h2.is-hidden om oss
      
      .ten-columns-centered
        .ingress.has-padding-bottom Ferske ingeniører og illusjoner som brast. Fra dette oppstår Iterate - et sted der menneskene er valutaen og verdiskaping er resultatet

        %h4.has-padding-top Målløs fokusering

        %p Iterate DNA’et kommer fra en kollisjon mellom virkeligheten, og et ønske om å skape verdier. Vi møtte sviktende forutsetninger, stress og fortvilelse - tross iherdig innsats. Kunnskapsarbeiderne betalte kostnadene.

        %p Nøkkelen til å lykkes er ikke kompetanse. Det var vår illusjon. 
        
        %p Overalt så vi mennesker med ønske om å lykkes. Vi skjønte at samarbeidsformen måtte ha noe å si.

        %p Så vi begynte å lese. Mary og Tom Poppendieck satte oss på sporet av andre, som Jeff Sutherland, Kent Beck og Eric Ries.

        %p En tanke begynte å demre. <em>Det finnes bedre måter å gjøre dette på.</em> Kongstanken ble talent og motivasjon. Ett samlende tankesett. Kompetanseutvikling i verdiskapingens ærend.

        %p Iterate er et eksperiment og en dannelsesreise. Vi jobber fokusert uten mål. Vi <em>lager</em> ved å <em>leke</em> og <em>lære</em> fra hverandre og fra omverdenen. 

        %p Nøkkelen til å lykkes er hva du selv ønsker.    
