---
title: Om oss
people:
  - 'haugeto'
  - 'larsen'
  - 'kornli'
---

#main
  .header.about-hero
    %section
      %h1#hero.text-centered Vi er skapere

  .white
    %section
      %h2.text-centered= lorem.sentence
      %h3.text-centered Iterate &mdash; En skapelsesberetning
      
      .eight-columns-centered
        .ingress.has-padding-bottom Tre ingeniører og illusjoner som brast. Fra dette oppstår Iterate - et sted der menneskene er valutaen og verdiskaping er resultatet

        %h4 Målløs fokusering

        %p Iterate DNA’et kommer fra en kollisjon mellom virkeligheten, og et genuint ønske om å skape verdier. Vi møtte sviktende forutsetninger, stress og fortvilelse - tross iherdig innsats. Det var alle oss kunnskapsarbeidere som betalte kostnadene.

        %p Nøkkelen til å lykkes er ikke kompetanse. Det var vår illusjon. 
        
        %p Overalt så vi mennesker med ønske om å lykkes. Vi skjønte at samarbeidsformen måtte ha noe å si.

        %p Så vi begynte å lese. Mary og Tom Poppendieck satte oss på sporet av andre, som Jeff Sutherland, Geoffrey Moore, og Kent Beck. 

        %p En tanke begynte å demre. *Det finnes bedre måter å gjøre dette på.*

        %p Kongstanken ble talent og motivasjon. Ett samlende tankesett. Kompetanseutvikling i verdiskapingens ærend.

        %p Iterate er et eksperiment og en dannelsesreise. Vi jobber fokusert uten mål. Vi *lager* ved å *leke* og *lære* fra hverandre og fra omverdenen. 

        %p Nøkkelen til å lykkes er hva du selv ønsker.

  %section
    - # set to gray or white to control background-color of the partial
    = partial 'partials/customer-quotes-events', :locals => { :background_color => 'grey' }

  .white
    %section  
      .eight-columns-centered
        %h4 Iterate DNA’et blir til

        %p Vår DNA oppstod i en kombinasjon av å få med oss de rette menneskene og i ønsket om å bygge vår egen kultur. Med de rette menneskene mener vi de menneskene som er opptatt av å se virkningen av arbeide sitt, og som ønsker å se hvilken forskjell de er med og skaper. I de tidlige dagene kalte vi det for I-Faktoren. Den var vi på jakt etter.

        %p Vi rekrutterte på personlighet, og bygget på kompetanse.

        %p I-Faktoren er et iboende ønske om å skape verdi, ha faglig nysgjerrighet og være opptatt av å dele sin kompetanse og evnen til lære av andre.

        %p Være opptatt av hele verdikjeden og min plass i verdikjeden, for å kunne utfordre bidra til vi jobber for å skape mest verdi der vi er.

        %p Teknologer befinner seg alltid helt i slutten av verdikjeden – rett før du kommer til et produkt som gir en forretningsgevinst. For å bruke en fly analogi, det er teknologene som skal lande flyet og det er andre som har lagt forutsetningene for landingen.

        %p Når du opplever frustrerte teknologer, så er det oftest teknologer som ikke når frem med feedback til de som har lagt forutsetningene for landingen.

        %p Vi legger til rette for at vi skal være en lærende organisasjon – og det er der navnet kommer fra. Du itererer på læring for å kontinuerlig forbedre organisasjonen.

        %p Vi tar på oss oppgaven å løfte perspektivet til våre kunder, og å gjøre dem mer fokusert på verdikjendene. Og få dem til å tenke og optimalisere helhetlig.

        %p Vi opplever at det er mye bra som skjer ute hos våre kunder – men spørsmålet vi sitter igjen med er – Er det på grund av eller på tross av organisasjonen?

  .white
    %section
      .eight-columns-centered  
        %h4 Hvordan oppleves Iterate i oppdrag?

        %p Et historie fra en av våre oppdrag hos en ikke navngitt kunde, en av utviklerne våre så at det var en del utfordringer med kravene som ble stilt fra forretningssiden, kunden har en uhyre kompliserte systemer, han tok initiativet til å ta i bruk en metode som kalles spesification by example – som skaper en felles kommunikasjonsplattform mellom teknologer og forretningssiden, som gjør at de i mye større grad snakker samme språk. 

        %p Han hadde ikke trengt å bry seg med dette, men han skjønte at det skapte mange følgefeil at teknologene ikke forstod de spesifikasjonene som med forretningssiden sine øyne var krystallklare. Med dette på plass ble det mindre misforståelser, og færre strafferunder og man leverte bedre.

  %section
    = partial 'partials/people-card'
