---
title: Frokostseminar Lean Cortado Del 2
---

#main
  %section
    .header
      %h1 Lean Cortado
      %h2 Frokostseminarer om Lean Startup i Norske virksomheter
      %p 
        Del 2 med Torve Indahl
        %br
        26. okt 2015 &mdash; kl 08:15 til 09:00
        %br
        Grensen 9B      

    = partial 'partials/registration-form.html'

  .container
    .article
      %h2 Lean Cortado Del 2
      %h3 Organisering og ansvarsområder
      %p.ingress I del 1 av Lean Cortado hadde vi fokus på visjon og forutsetninger for å øke sjansen for at man skal lykkes med innovasjon. I del 2 vil vi sette fokuset på Organisering og ansvarsområder:

      %ul.bullet-list
        %li Blir det innovasjon av at Tore skal delta 30% og Siri skal bruke
        20% på å være leder for Tore?
        %li Hva styringsgruppens jobb i en innovasjonsprosess?
        %li Hvordan får vi (som jobber med innovasjon) styringsgruppen til å
        tenke annderledes?
        %li Slutt å organiser som et prosjekt, start å tenkt intern startup?
        %li Hvor mange ressurser skal til for å gjøre en innovasjon?
        %li Hvilke roller må dekkes?
        %li Hvem skal ha ansvaret for hva?

  = partial 'partials/customer-quotes-events', :locals => { :background_color => "gray" }

  = partial 'partials/people-bio.html.haml', :locals => { :employee => "indahl", :headline => "om foredragsholderen" }

  .container
    %section
      .article
        %h4 Lean Cortado serie

        %p Frokostseminaret er det andre i en serie på syv seminarer om Lean Startup og Garasjen - Iterate sitt konsept for entreprenørskap i norske virksomheter. Vi kommer med ferske caser, ferske bakevarer, faglige anbefalinger og kruttsterk kaffe.

        %p Det er mulig å delta i enkle seminarer.  Vi bygger Lean Cortado serien på en måte som gir deg mulighet til god læring i hver del.

        %ul
          %li Del 1 - Visjon og målsetninger
          %li Del 2 - Organisering og ansvarsområder
          %li Del 3 - Rapportering (dato: TBA)
          %li Del 4 - Kompetanseheving (dato: TBA)
          %li Del 5 - Kundesegmenter og marketing (dato: TBA)
          %li Del 6 - Prototyping og MVP (dato: TBA)
          %li Del 7 - Skalering (dato: TBA)

        %h4 Hvorfor satser Iterate på Lean Startup?
        %p Norge er på vei inn i ny
        normalsituasjon. I etterdønningene fra finanskrisen i 2009 ble
        organisasjonene trimmet og det ble satt mer fokus på kjernebusiness.
        Samtidig er behovet for nyskapning større enn noensinne.
