---
title: Mennesker
---

#main
  .header.mennesker-hero
    %section
      %h1#hero.text-centered Vi er Iterate

  - # set to gray or white to control background-color of the partial
  = partial 'partials/customer-quote-single', :locals => { :background_color => 'white' } 
   
  - employees = data.people.sort.to_h # moves data into a hash and sorts alphabetically by object key
  = partial 'partials/people-card', :locals => { :employees => employees }