---
title: Arrangementer
layout: application
---

#main

  -# MANUAL PART -- remove or add sections as you please.
  -# Copy a section below, add a suitable background image in _events.scss
  -# h2 gives a smaller headline while h3 is shown as the main title of the section.

  .eric-riess.has-background-image
    %section
      .two-thirds-layout-offset
        %h2 Have effective organisations killed innovation?
        %h3 Conceiving unicorns
        %h4 Keynote: Eric Ries
        %p Oslo, 08. 02. 2016
        %p The digital revolution has no borders. We see innovative business models appear everywhere around us. Established rules are being challenged by new companies that do things differently.
        %p.has-padding-top
          =link_to 'Get your ticket', 'http://unbouncepages.com/eric-ries-oslo/', :class => 'button'

  .intrapreneur.has-background-image
    %section
      .two-thirds-layout
        %h2 Innovasjon - øker eller reduserer det risiko?
        %h3 Intraprenørdagene 2016
        %p Oslo, 09. — 10. 05. 2016
        %p Intraprenørdagene er en konferanse om innovasjon og nyskapning innen etablerte virksomheter i privat og offentlig sektor. Her kåres også "Norges mest Innovative Selskap" og "Årets Intraprenør".
        %p.has-padding-top
          =link_to 'Meld deg på', 'https://www.xn--intraprenrdagene-txb.no/', :class => 'button'

  -# AUTOMAGIC PART -- only touch if you know what you're doing =)
  -# Magic is based on meta data provided in the front matter headers of the single event pages,
  -# and uses Middleman's sitemap functionality
  
  - current_resource.children.each do | page |
    %div{ :class => [('white' unless page.data.featured?), ('light-colored has-background-image' if page.data.featured && page.data.serie == 'lean-cortado')], :style => ('background-image: url(' + image_path('headers/' + page.data.banner) + ');' if page.data.featured) }
      %section{ :class => ('featured-event' if page.data.featured) }
        %h4= link_to page.data.title + ' – ' + page.data.subtitle, page.url

        %p= page.data.date + ' – ' + page.data.time
        %p= page.data.short_description
        %p 
          Presentert av 
          = data.people[page.data.presenter].name