---
title: Arrangementer
---

#main
  .white
    %section
      - current_resource.children.each do | page |
        %ul
          %li
            %h4= link_to page.data.title + ' – ' + page.data.subtitle, page.url
            
          -if page.data.featured
            %img{ :src => image_path('headers/' + page.data.banner) }

          %li= page.data.date + ' – ' + page.data.time
          %li= page.data.short_description
          %li 
            Presentert av 
            = data.people[page.data.presenter].name