<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">  
    

<!--
LEKDEKDGDGffEGGDtDffjtjjjjjjftttjtjtttitt;ii;;;i,;i,ii,,,;;;,;;;;i;;;,          
DEKDLDDLGDfEEfjGiDLLjftttjjjtjttjttttititti;i;;,,,:,;,:,,,;;;,,;;i;;;;.         
GEDDLDGLGLKDGfELjGfjftttjjjttttjijjtitiitii;;;,:::,,::,,,:,:,;;,,;,;,;.         
LLEGLGEGLDDEDLtffLffjtjtjttjttfttijttititi;;,,,:::,::,,::,:,,,;,,,;,,,,:        
LDEEDEDDDEDLGfGfiLLjjtjtjjjjjjtjjjttttitti;;,;:,:::::::,:.:,,,,,,:,,:,,,.       
GGDDEEEDDDGGEjfLiLffjjjjjtjtjttjtttiiiiiit;,;;,,,:,..::::.:.:,,,,,::,,::.       
DEDDDDGDEDGfjjjjjLfjjtjjtjfjtjtfjjtttjji;;;,,;,::,,:::...:.:,:::,,,,,,::,.      
KEDDEGDGGDDLLGGjtLfjjttjjtjjjfjjtttttij;i;;,;;::::::..,:::.:..,::::,,:::..      
KEEEEDfDLLGGDLGfLfLftjjjjffjjtjjjjjttiit,ti;;;::.::::::,:..::.:::,,,,;:::       
EDEEGLGGLGEGDDDLLLjtjjjjtftjjjjjjjjtttiiii;,;;,,,::.::::,:.:.:,,,,,,,,:,:.      
EKDLLDLfKLKGEDGGfjfjtjjjfjfjjtjjjjtjtitjii;;,,;:,:..:::,,.,.:.::::::::,,.:      
EffDDLLELKEEDKELjGjjttjtfjfjjfjtjtfjtiit;;;i,::,,:,,,:::.:::.::,:,,,,::,,.      
LjELGDKDKDKEKKELLjjfjttjjjfffjjfjftttiiiii,;;;i;,,,,::,,,,,:::,,,,::::,,,:      
GLLLEGLKEKEEKKDfLLfffjjjffjffjjtjjfjjttiitii;;,,:,:,:::,:,::,:,,,,:,,,,,::      
fDLGEKEKKEEKWKGfjjfjfjtjfjjjjfjjjjjjtiiiiiii,,,,,,,::::,:;;,:,::.,:,::::,.:     
DEDGDEGEEEKWWEELffLtfjjjjfjffjfjjjjftttiiit;i;,,,:,,,::::,,,:,:,,:::,,,,::.     
GLLGEGLDKWWWKKEGffLffjtfffjffjffftfjttiiii;;;;;,:;,:::,::.:,;,,,,:,:,::,:. .    
KDGGGDEKWWWWKKEGLLLffjfjfffffffffjjjtitiiiiiii;;,,,,,,;,;::,::,,,:::::,::::     
EWWKWKKW#WKWKKEGLLLfftfjffffLffjjjjtftjiiii;,::,,:,,,,,...,;:::,,..,,,,:,:.     
WKKKKKWWWWWWKKEDGLfffjjffffffffffffjjtti;i;,;,,,,:,,,,,:,,,,:,,,,:::.::,:::     
EWEWEDEKWKWWWKEDELLLfjjfffLfjfffffjjjjti;;;,,;,,,;,;,,,;,;:,,::,;,:.,::,,,,     
GEEEEDDEEKKKKKEDGGfffLffffffLffjfjjjjtti;,;:,,,,:,,,,,,,;;;i;,;;;::,;:,,,:..    
LGKWEEDDEKKKWKEEDfLffffLfffjfjLfjfjttjit;;,:;:,,;;,,,,:;;,i;;,,;;;,,,,,;,,,.    
GDWWEKEEDEEEEKEDLLfLLLfLjffLLfLfjfjjjjiii;;;;i;;i;;i,;;i;iitii;;,,,;i,,;,::.    
GEGKKEDGLEDGEKDDLLLffLfLLffffLLfLffffjtiitiititjtittti;i,iitii;t,;tit;,;,,,.    
EDEfKEKGGLEKKKDGGfLLfLLffffLjfLLfffjtttjtttfjtttLffftjtttiii,;i;i;;tiii;,,::.   
KDEKEDGGGDGKKKEDGjfLLLfLffffffLfffjtjtjLjffffLGGDDGfLGfffjti;;jitijtii;;,;;,::  
KEKDfEDGLGGEDDEDGfLfLffjfffjjfffjfjjjfffffffLLLGEEKEGEGLLfjiittiiittiii;;tji:,  
EKKKLKEGGGLLDKDGLfLfLffjfjfffjftjffLffffjjjjjijLGDDEEEGDGLftjj;itititijjfjjtf;  
KWKEEGDDGDEGKEEGfLfLLffffffjfjjfLLLLLLfffffjjjfLLEEEDEEEDGLfji,:;;ijtffffGGLti. 
KKKKEGDWGDDEKEDGLffLfLffjjjLjjjffffGGLLLLGDKKKDEDDEWKDEEDGLft;;,:;tfGGGGGffji,  
WKWWKDWWEEEEEKDDLfLLLfjfjjjjjjjfffLLDGGEWW#KKD;iLGLDEEEDDGfji,::,:jDDEDDDGjj;.  
KWKKKEKKKEWKEEKDGfLLLfLffjLfjiiijLLGEWEKWKKKKE,;iLGLGDDGGLLti;;;::GEEEEjLLLfi   
KKKKEEKEDKKELKEDDGLLjfffttfLjfffffGEEGLfjLDEEf:;tfLDfjjGLLjjt;,:::GKEDLiiGfi.   
EWKKKKEEKKEKDEKDDGGLLLffffjtii,;ijfttffjti,,;;i;tjjti;jtLffjti:,,,tKKEDi;jLi    
KEKKKEEKWKDDDEGDDfLLLLfjfffjti;;tjttjtttttii;;,:iitjtitfjjjfti;,,,,jDDfi;j,     
EEEKKWKKKKEKKKEDfGGGLffffttttitt;;iiitjfii;;,;iiiitjtitjtijtjti;,iiiiii;i:      
KEKWEWKWWEKKEEEDGLLLffffjjfjjii,iiijjtLfjjtttttjt;i;ttttiijtjti;;;;,t,,,:,      
KKEEKWKKKWEKKKDDLLLLfLfffjfjti;i;iii;i;;;ii;;i,;;i;t;tittjjjttii,,i;;t;;;.      
KEKKWWKWWEKKEEDDLLLLLffjfjjfjtiiiiiii;;;jiti;;iiiii,,ittttjttitii;;; t;it:      
KEKKWKWKWKEKEKEDLLLGLLLjfjfjjtii;;;tj;t;;,,,,tiii;;,;iijtjjtjiftt;;i;tjt;       
KEEWKKWWKWWKKEDDLLfLLLLfjjftftj;;;;;i;;;ii;;;,;i,,,;iittjjttjtjii;,ii,;;t       
EDKKKWKKKEKWWDEGLLjLfLfffjjjjjti;iii;i;i;,i,;i,,,;,ii;ttjtttjtjtii,;i jt;:.     
KEDEKKKKDDEKDDEGLLfLfffLLfffjjtji;i;i,;;,:,:;,;;;;,t;itjtiijtitiii;,;,i;,,:     
DEEDGDEKEEEEDDDGLffffLfLffffftjtiitii;,,;;:,,,:,;,;;;tiittttttttt;;;ii.;i::     
GEEDLGGKEDGDDDEGLffffffffjffjfttiii;;,;;;,,,;;,;;,,,;;;ttjjfjfttiii;ii;;i,.     
LLDGffjDEEGEGGGGGfLffLffffLfjjjjtiii;;,,;,;,,,,;,,;,,iijjjffffjttt;;,;i ;,:     
GfGjjjfjfDLDGGGLGLLfffjLjfLLfjtjtjii;,;:::,,::,::,,,,;jLfjtjffjjti;i;ii;,;.     
GGfttjffffLDGGGGLLffjjLffjffjjjjttiii,i;;,,,,,;i,,iijjLLLjtjjjjjtijt:,;i:;,     
WGfjtfjfffLGDLLGGGfffjfffjjfjftttti;iii,ii;:;,;;i;itjLLLLfjjttjjjtti,;;; ;;.    
WEGjttjjjjfGDGDLGGLLfjffLffjfjjjtjiiiiiiji;;iii;iijfffLGLfjfjjffffjjtiji ;,:    
WWDfftjfjffDDGLGGGGLffffjjjjjjjjtftjtittii,iij;,;itfijLGGGfjfLGLGLLffjjt.;,.    
KWWKLfjjfjjDDGGGLLLLfjjfffjffjtftjjijitttiiti;itttji;;fDGGGGGKWKWDGGGGLjii;:.   
WWWWEGLfLLLDDDDGLLLfffffjfjfjjttfjjjjtijtjji,tjjttj,:,jLEDDKWKEEKKEGDDjtti,,    
#WWWKKEDDDDDDDDGLLLLLLLjffjjtjjjtjjjjjtttjtttiitttt,,,ijLEDGLfLDGDDDtfjjjt;,    
WWWWKKEKEKGDEDDGGGLLLffLLfjfjjLfjfjjjjjtittitiiitj;,:;;jffLGLGGDEf;jtfjjtt;:    
KKKWKKKKKKDGDDDGLGfLLLfLfLLfjjjjjjjjtjftttititijti,,,:;tfjfLLLfLGGtjttijjji;    
EEKEEEDEEDEDDDEGLGLGfLLLLffjfLjjfjjtjjttijjitiit;,:;,,;,jjffffffLLf,;;tiji:     
EEEEEDGLLGDDGDDGLGLLLLLLffffffjjjjtjjjjttjtjtt;i;,,;;,;;ttjjjtffLfj ,;i;ii,     
EDEEDDLfLLDDDDGDGGLGLLLLLfLjjjftjfttjtjijfjjt;,t;it,,,;;tttjjjjfGff .:t,j;:     
DLEEGGLLLGDDDEDGGGGGGLGfLffffjjjjjtttiiitttiii;,;iiii;itiijttfffLLj:  t;fi      
GEEKDGLfLLDDDDGDGGLGLGLfLffLfffjfjjfjtiiiijtftttijtti,ti;iijjtffLffi,.tjj;      
GGEEDGGLLLEEEEDDGGGGGLGLGfLfffLjffjtjitiijtfjjttjjjjtttiitttttjjijjt,jLjj;      
GDDDEDGLfGEDDEEDEDGGDEGLLfLffLLfjjjjjtiiiijffGLLffLjftjtttitttititti;Gjit.      
DEDDGEGGLLDDDDDEEEGDGDGLLfffLLLffjjjjtti;ijjLGDEDGGGLjjfjtjfffftttjLfjtit       
DDGGDEDGLLDDGEEEEDDDGEGDLLLfffGffLjfftt;itiffLGKKKEEEDEDGDGGDGLLLGGfttit;       
DGGGDGELLGLEEEEEDEDDDDEDGGLLfLLLfffjjjjti;ittjfLLLLDDGGLffLLLGGDft;,ijtt;       
EDGDDGEDGLGEDEEDKKEEEDEDGDLLLLLfLffffjtttiittttijjjjjtjjiii;it;tij, ,jjf        
WKDDGGDDDGGDDDEEKEEEDDDEDDGLLLGLLfffffjttt;ijttttjjtjtttitjjtttitj; ;ffj        
WWWWKDGKEGGDDDEKEKKEDEDEDEDGGLLGLLLfLLfjjfttttj;tijffjtjitijtjtjfjt::Lf         
WW##WWEGKDLLEDDEEKKEEEEEEEDGGGGLLfLffjfjjjtjjjttijijffjjtjjffLfjffj:;ff         
##WW##WDEEGGKEDEEKKKKKEEDEDEDGLGGLLLLffjjtttjjtjijttjffjfffffffjjjj.if          
W#WW#WWWKEDDDEEDKKEEKEDDDEEEEGLGLGGGGLfjfjjtttjjjijjjjfffjffffffjft:tL          
W#####WWWWGDGEEDEKWKKKEEKEDEDDDGDGDGLfffffjjjjjjtttjttjffjffLfffjj,.f           
##W#WWW#W#WDDDDGDEWKWKKKEEEEDEEGDDGGGGLLfLtjjjtttttjjftjfLfjjjjftti.            
W#WW#WWWWWWWGGGEEDEWWWWKEEEEEDEDDDGDGGGGfjftjjttjftjijtfjfLfffLftt;             
#W#W###WW#WWWDEEDEEEWWKKWKKEEKEDDDGGDDLLLfftjtjjjjjttjjjjjfftjjti;,:            
WWWW#W##WWWWWWDDKEGDEWKWWKWKKEEEDDDGDDGGLLffjfjttit;tti;i;,;;itti.i:            
W###WWWW#WWWWWWGDDEEGKWWWKWWKKKEDDDEDDDGGLGffjjtjtttt;ij;,;iiitit;,             
W#WWWWWW#WWWWWWEGDDDDDEWWWKKKKKEEEDEGDGGGGLffjjfjtit;;t;jtiiitiiti,             
WWW#WWWW#WWWWWWWDDGGGDEKWWKWKKKKKEEDEEDGGGGLLLfjjitii;i;;;t;;tji;t,             
W##W##WWWWWWW##WWDGDGGGDKWWWKWWKKKEKEEEDDEDLLGffjttiititiitiiititii:            
##W#WWWWWW#W##WWWEGDGDGGDEWKKWWKKKKKEKEEEDEGDLGGLffjtjLtii;;tjijtiii            

Vil du jobbe med Kent Beck? Send en epost til jobs@iterate.no.
-->


    <!--[if IE]><![endif]--> 
    
    
<link rel="stylesheet" href="/static/CACHE/css/966299b654ee.css" type="text/css">


    <!--[if lt IE 9]>
        <script type="text/javascript" src="/static/scripts/html5.js"></script>
    <![endif]-->
    <style type="text/css">
    .quote {font-size : larger; 
    font-style : italic; 
    background : #EDEEEF; 
    line-height : 15pt;
    padding : 15pt;
    text-align : center }
    </style>
    
  </head>
  <body>
    <div class="container_16 clearfix">

      <header class="grid_16">
        <div id="logo">
          <a href="/"><img src="/static/images/iterate.png" alt="Iterate"></a>
        </div>
        <div class="external">
          <a href="http://blog.iterate.no/">Blogg</a> 
          <a href="http://www.iterate.pl/">iterate.pl</a>
        </div>

        <nav>
          <a href="http://info.iterate.no/lean-startup/">Lean Startup</a>
          <a href="/">Referanser</a>
          <a href="/mennesker">Mennesker</a>
          <a href="/firma">Firma</a>
          <a href="/karriere">Karriere</a>
          <a href="/kontakt">Kontakt</a>
        </nav>
      </header>

      {{ content }}

      <footer class="grid_16">
        <div class="border"></div>
        <div align="center">
        Iterate AS,
        Bygdøy allé 21,
        0262 Oslo
        | 22&nbsp;44&nbsp;79&nbsp;18
        | <a href="mailto:mail@iterate.no">mail@iterate.no</a>
        </div>
        
        <div align="center">
           <a href="https://twitter.com/iterate_no"><img src="/static/images/tw.jpg" width="31" height="32" title="Følg oss på Twitter" alt="Følg oss på Twitter"></a>	
           <a href="http://www.linkedin.com/company/iterate"><img src="/static/images/ln.jpg" width="31" height="32" alt="Følg oss på LinkedIn"></a>
           <a href="http://www.facebook.com/iteratenorge?ref=ts&fref=ts"><img src="/static/images/fb.jpg" width="31" height="32" alt="Følg oss på Facebook"></a>
      	</div>
      </footer>

    </div>

    <div class="empty_space"></div>

    <script type="text/javascript">
	
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2721053-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
