---
title: 404 - Siden finnes ikke
---

#main
  .white
    %section
      %h1.is-hidden Åh nei.
      %h2.text-centered Four Oh Four
      %h3.text-centered Siden finnes ikke.
      .spans-twelve-columns
        %p.text-centered 
          Vi har vist rotet den bort. 
          %br
          Ta denne videoen som et lite plaster på såret.
    
        %p#video-embed.text-centered.has-padding-top
          <iframe src="https://player.vimeo.com/video/94502406?color=ffffff" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

